.teacher {
    display: block;
    float:right;
}

.btnimg {
    display: inline-block;
    margin: 5px;
}

.btnlabel {
    font-size: 15px;
}

.user_class {
    float: right;
}

.user_mobile {
    display: block;
    float:right;
}

.course_image {
    margin: 18px;
    margin-bottom: 0;
    width:150px;
}

.oe_button_box {
    margin: 20px;
}

.oe_title {
    margin-left: 120px;
}

.username {
    display: inline-block;
    text-indent: 5px;
    letter-spacing: 1px;
}

.distable {
    display: table;
    width: 100%;
}

.distablecell1 {
    width: 60%;
    display: table-cell;
}

.distablecell2 {
    width: 40%;
    display: table-cell;
}