.teacher {
    display: block;
    float:right;
}

.btnimg {
    display: inline-block;
    margin: 5px;
}

.btnlabel {
    font-size: 15px;
}

.user_class {
    float: right;
}

.user_mobile {
    display: block;
    float:right;
}